[submodule "vendor/SDL3"]
	path = vendor/SDL3
	url = https://github.com/libsdl-org/SDL
[submodule "vendor/monocypher"]
	path = vendor/monocypher
	url = https://github.com/LoupVaillant/Monocypher
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
[submodule "vendor/libwebp"]
	path = vendor/libwebp
	url = https://github.com/webmproject/libwebp.git
[submodule "vendor/libde265"]
	path = vendor/libde265
	url = https://github.com/strukturag/libde265.git
[submodule "vendor/libheif"]
	path = vendor/libheif
	url = https://github.com/strukturag/libheif.git
[submodule "vendor/libaom"]
	path = vendor/libaom
	url = https://aomedia.googlesource.com/aom
