[submodule "vendor/SDL3"]
	path = vendor/SDL3
	url = https://github.com/libsdl-org/SDL
[submodule "vendor/monocypher"]
	path = vendor/monocypher
	url = https://github.com/LoupVaillant/Monocypher
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
[submodule "vendor/libwebp"]
	path = vendor/libwebp
	url = https://github.com/webmproject/libwebp.git
[submodule "vendor/libde265"]
	path = vendor/libde265
	url = https://github.com/strukturag/libde265.git
	ignore = untracked
[submodule "vendor/libheif"]
	path = vendor/libheif
	url = https://github.com/strukturag/libheif.git
[submodule "vendor/libaom"]
	path = vendor/libaom
	url = https://aomedia.googlesource.com/aom
	ignore = untracked
[submodule "vendor/ffmpeg"]
	path = vendor/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
	ignore = untracked
[submodule "vendor/miniz"]
	path = vendor/miniz
	url = https://github.com/richgel999/miniz.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib.git
[submodule "vendor/xz"]
	path = vendor/xz
	url = https://github.com/tukaani-project/xz.git
	ignore = untracked
[submodule "vendor/libarchive"]
	path = vendor/libarchive
	url = https://github.com/libarchive/libarchive.git
[submodule "vendor/libva"]
	path = vendor/libva
	url = https://github.com/intel/libva.git
